{{#if posts.length}}
<section>
  <h2 id="dashboard-header">Your Posts</h2>
  <ul class="posts">
    {{#each posts as |post|}}
    <li>
      {{> dashboard-post-info post}}      
    </li>
    {{/each}}
  </ul>
</section>
{{else}}
<section>
  <h3>You haven't posted anything yet</h3>
</section>
{{/if}}

<button class="btn-warning btn buttons" type="submit"><a href="/dashboard/new">Add New Post</a></button>