<section>
  <h2>Create New Post</h2>

  <form id="newPost">
    <div>
      <label class="form-label" for="post-title">Title</label>
      <input type="text" id="post-title" class="form-control" name="post-title" />
    </div>
    <div>
      <label class="form-label" for="post-text">Post</label>
      <textarea class="form-control" id="post-text" name="post-text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary buttons">Create</button>
  </form>
</section>

<script src="/js/addPost.js"></script>